.letter {
  display: inline-block;
  /* border: 1px solid black; */
  background-color: #000;
  color: #f0f0f0;
  text-align: center;
  padding: 15px;
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
}

.it {
  background-color: #008080;
}

.is {
  background-color: blueviolet;
}

.to {
  background-color: #008080;
}

.m_five {
  background-color: #a33056;
}

.m_ten {
  background-color: #a33056;
}

.quarter {
  background-color: #a33056;
}
.past {
  background-color: #2b547e;
}
.half {
  background-color: #a33056;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  background-color: #b37400;
}

.twenty {
  background-color: violet;
}

.oclock {
  background-color: tomato;
}

@media screen and (min-device-width: 350px) and (max-device-width: 600px) {
  .letter {
    padding: 5px;
    font-size: 20px;
  }
}

@media screen and (min-device-width: 162px) and (max-device-width: 200px) {
  .letter {
    padding: 4px;
    font-size: 8px;
  }
}
